body {
    background-color: #FFFFFF;
    color: #000000;
    padding: 1em;
    font-family: "Arial", "Gill Sans", "Gill Sans MT";
}
h2 {
    text-align: center;
    font-weight: 900;
}
.buttons {
    margin-top: 1.5em;
}
button {
    font-weight: 900;
    padding: 0.25em 0.5em;
    font-size: 1.25em;
}
#view-image {
    min-width: 200px;
    margin-left: 1em;
}
#view-html,
#view-image {
    display: inline-block;
    vertical-align: top;
}
.poster {
    background-color: #DB0000;
    color: #FFFFFF;
    text-align: center;
    margin: 10px auto;
    min-width: 350px;
    max-width: 400px;
    padding: 30px 10px;
    border: 5px double #FFFFFF;
}
.poster p {
    font-size: 60px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 0;
}
.poster p span {
    display: block;
}
.poster p span.and {
    font-size: 50%;
}
.poster p span.message {
    font-size: 100%;
}
